html {
  font-size: 16px;
}

body {
  background-color: #d98236;
}

.header-container {
  display: block;
  background-color: #f2c849;
  padding: 1rem;
}

.header-logo,
.page-title,
.main-nav {
  display: inline-block;
}

.header-logo img {
  border-radius: 50%;
}

.main-nav-list li {
  display: inline;
}

.profile-img {
  padding: 0.625rem;
  padding-right: 2rem;
  float: left;
}

.p-one h2,
.p-one p {
  display: inline-block;
}

main {
  color: #8191a6;
  background-color: #0d0d0d;
  padding: 6.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

main h2 {
  color: #d98236;
}

footer {
  background-color: #f2c849;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.footer-logo img {
  border-radius: 50%;
}

.footer-nav-one,
.footer-nav-two,
.footer-nav-three,
.footer-nav-four {
  box-sizing: border-box;
  display: inline-block;
}

footer h3 {
  color: #0d0d0d;
  text-align: center;
  padding-left: 2rem;
  line-height: 0;
}

footer ul {
  padding-top: 0;
}

footer ul li {
  padding-top: 0;
  list-style: none;
  line-height: 1.3rem;
}

footer ul li a {
  color: #0d0d0d;
  text-decoration: none;
}
